 *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 }
 img{
  height: 100%;
  width: 100%;
}
 nav{
  display: flex;
  justify-content: space-around;
  padding: 2vh;
  font-size: larger;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 5;
}
nav a:hover{
  color: #397beb;
}
nav a{
  text-decoration: none;
  color:white;
}
nav .btn{
  background-color: #2563eb;
  padding: 10px;
  border-radius: 10px;
}
nav .btn:hover{
  background-color: rgb(6, 47, 108);
}